<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Calculadora Básica</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true" color="dark">
    <ion-card>
      <ion-item color="medium">
        <ion-label>1° Valor </ion-label>
        <ion-input type="number" [(ngModel)]="valor1"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item color="medium">
        <ion-label>2° Valor </ion-label>
        <ion-input type="number" [(ngModel)]="valor2"></ion-input>
      </ion-item>
    </ion-card>

    <ion-button expand="block" (click)="somar()" color="warning">SOMAR</ion-button>
    <div class="info ion-text-center">
      <p>{{adicao}}</p>
    </div>

    <ion-button expand="block" (click)="dividir()" color="warning">DIVIDIR</ion-button>
    <div class="info ion-text-center">
      <p>{{divisao}}</p>
    </div>

    <ion-button expand="block" (click)="subtrair()" color="warning">SUBTRAIR</ion-button>
    <div class="info ion-text-center">
      <p>{{subtracao}}</p>
    </div>

    <ion-button expand="block" (click)="multiplicar()" color="warning">MULTIPLICAR</ion-button>
    <div class="info ion-text-center">
      <p>{{multiplicacao}}</p>
    </div>

    <br>
    <ion-button expand="block" (click)="limpar()" color="medium">LIMPAR</ion-button>
    <div class="info ion-text-center">
      <p>{{limpa}}</p>
    </div>
</ion-content>